<!DOCTYPE html>
<html lang="en">
<head>
<link href="/css/styles-home.css" rel="stylesheet">
<%- include('./partials/head')%>
</head>
    <body>
        <%- include('./partials/header')%>
            <div class="separador"></div>
            <img class="Banner" width="100%"  src="images/logo intel vs amd.jpg" alt="Banner"></img>
            <main>
                <section>
                    <h2> Ofertas </h2>
                    <% for( product of listProduct) { %>
                        <% if(product.category_id === 1) { %>
                            <article>
                                <a href="/product/detail/<%= product.id%>">
                                    <img width="100%" src="images/product/<%= product.image%>" alt="IMAGEN AMD RYZEN 3"> </img>
                                </a>
                                <div class="producto">
                                    <div class="camion"><i class="fa-solid fa-basket-shopping"></i></div>
                                    <p class="precios">$<%= product.price%></p>
                                    <p class="descuentos"> <%= product.discount%> %</p>
                                    <h3 class="descripciones"> <%= product.description%></h3>
                                </div>
                            </article>
                        <% } %>
                    <% } %>
                    <h2> Nuevos Productos </h2>
                    <% for( product of listProduct) { %>
                        <% if(product.category_id === 2) { %>
                            <article>
                                <a href="/product/detail/<%= product.id%>">
                                    <img width="100%" src="images/product/<%= product.image%>" alt="IMAGEN AMD RYZEN 3"> </img>
                                </a>
                                <div class="producto">
                                    <div class="camion"><i class="fa-solid fa-basket-shopping"></i></div>
                                    <p class="precios">$<%= product.price%></p>
                                    <p class="descuentos"> <%= product.discount%> %</p>
                                    <h3 class="descripciones"> <%= product.description%></h3>
                                </div>
                            </article>
                        <% } %>
                    <% } %>
                </section>
                
            </main>
            <%- include('./partials/footer')%>
    </body>

</html>